<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
        <h1>Added Just to See Blah blah</h1>
        <h2>Added another line to test if git diff command works when change is actually made</h2>
        <h3>Capstone project done? Not yet</h3>
    </div>

  </body>

</html>